.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.play-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.left {
  position: fixed;
  top: 30%;
  left: 10%;
}
h2 {
  display: flex;
  justify-content: center;
}

body {
  font-size: 30pt;
  font-family: "Press Start 2p";
}
.video-game-button {
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  width: 1.5em;
  background-color: rgb(7, 4, 4);
  color: rgb(22, 12, 12);
  margin: 5px;
  background-color: rgb(0, 255, 42);
  cursor: pointer;
  padding-left: 5px;
}
.start-btn {
  text-align: center;
  display: inline-block;
  margin: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 10px 0 10px 15x;
  background-color: lightgray;
  color: rgb(11, 14, 11);
  cursor: pointer;
}

.video-game-button:active,
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

.high {
  background-color: black;
  color: white;
}
