<div class="jumbotron vertical-center">

<div class="container-fluid">

      <h1>Lets play snake game!</h1>
      <h4>Enter your name and e-mail address and let's get started!</h4>
      <form (ngSubmit)="onSubmit(userForm.value)" #userForm="ngForm">
        <div class="form-group">
          <label for="userName">Name</label>
          <input type="text" class="form-control" id="userName"
                 required
                 ngModel #inputName="ngModel" name="userName" maxlength="12" minlength="3"
                 #name="ngModel">
          <div *ngIf="inputName.invalid && inputName.dirty"> <h5> Name is required </h5> </div>
        </div>
        
        <div class="form-group">
          <label for="userEmail">Your email</label>
          <input type="email" class="form-control" id="userEmail" 
          name="userEmail" ngModel #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
          <div *ngIf="email.invalid && email.dirty"> <h5> Enter the correct e-mail </h5> </div>
      </div>
  

        <button type="submit" class="btn btn-success" (click)="startGame()" [disabled]="!userForm.valid">Start Game</button>
      </form>
    </div>
  
</div>