<div class="jumbotron vertical-center">
  <div class="container-fluid">
    <h1>Lets play snake game!</h1>
    <h4>Enter your name and e-mail address and let's get started!</h4>
    <form [formGroup]="myForm"
          (ngSubmit)="onSubmit(myForm.value); " >
      <div class="form-group">
        <label for="userName">Name</label>
        <input
          type="text"
          class="form-control"
          id="userName"
          formControlName="userName"
        />
        <div class="error"*ngIf="">
          <h5>Name is required</h5>
        </div>
      </div>

      <div class="form-group">
        <label for="userEmail">Your email</label>
        <input
          type="email"
          class="form-control"
          id="userEmail"
          name="userEmail"
          formControlName="userEmail">
        
        <div class="error" *ngIf="">
          <h5>Enter the correct e-mail</h5>
        </div>
      </div>
      <div class="form-group">
        <label for="selectColor">Select Color:</label>
        <select name="select" id="selectColor" formControlName="color">
          <option value="normal">Normal</option>
          <option value="high">High Contrast</option>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!myForm.valid">Start Game</button>
    </form>
  </div>
</div>
